.contact_container{
    grid-template-columns: 4fr 8fr;
}
.contact_title{
    font-size: var(--h3-font-size);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
}

.contact_description{
    font-size: var(--small-font-size);
    line-height: 1.6;
}
.contact_description,.contact_info .info_item{
    margin-bottom: 20px;
}
.contact_info .info_title{
    /* background-color: blue; */
    font-size: var(--small-font-size);


}
.contact_info .info_item{
    display: flex;
    align-items: center;
    
    column-gap: 16px;
}

.contact_info .info_icon{
    color: var(--first-color);
    font-size: var(--h2-font-size);
}

.contact_info .info_title{
    font-size: var(--small-font-size);
}

.contact_info .info_desc{
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
}