.home {
  grid-template-columns: 3.32fr 6.68fr;
  align-items: center;
  /* background-color: var(--first-color); */
  padding: 2rem;
  height: 100vh;

}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
    /* Start with actual size */
  }

  50% {
    transform: scale(1.08);
    /* Zoom in to 1.1 times the actual size */
  }

  100% {
    transform: scale(1);
    /* Return to the actual size */
  }
}

@keyframes zoomAndMoveEffect {
  0% {
    transform: scale(1) translateX(-10%);
  }

  50% {
    transform: scale(1.02) translateX(10%);
  }

  100% {
    transform: scale(1) translateX(0);
  }
}

@keyframes zoomAndMoveEffect1 {
  0% {
    transform: scale(1) translateX(-10%);
  }

  50% {
    transform: scale(1.02) translateX(2%);
  }

  100% {
    transform: scale(1) translateX(0);
  }
}

.home_img {
  height: 100%;
  width: 100vw;
  object-fit: cover;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 0.3);
  animation: zoomAndMoveEffect 1s ease;

}

.home_data {
  /* background-color: var(--first-color); */
  width: 60vw;
  margin-inline: auto;
  padding-top: 1rem;

}

.home_title {
  position: relative;
  font-size: var(--h1-font-size);
  line-height: 1.24;
  padding-left: 6rem;

  animation: zoomAndMoveEffect1 1s ease;

}

.home_title #jayant {

  color: var(--first-color);


}

.home_title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 22%;
  width: 3rem;
  height: 0.5rem;
  border-radius: 0.8rem;
  background-color: var(--first-color);
  animation: zoom 1.2s ease;
}

.home_description {
  line-height: 2.12;
  margin-block: 1rem 2rem;
  color: var(--text-color);
  width: 50vw;
  animation: fade-in 0.5s ease-in-out;
}

.color_block {
  position: fixed;
  height: 200vh;
  width: 100vw;
  background-color: var(--first-color);
  top: -50vh;
  left: -90vw;
  transform: rotate(-45deg);
  z-index: -1;
  animation: fade-in 1s ease-in-out;
}

.more-about {

  animation: fade-in 1s ease-in-out;
}

/* Responsive Css */

/* CSS for mobile screens */
@media (max-width: 767px) {

  /* Add your CSS styles for mobile here */
  .color_block {

    display: none;

  }

  .home {

    display: grid;
    grid-template-columns: 0.5fr;

    justify-content: center;
    row-gap: 1rem;

    align-items: center;
    margin-top: 10% auto;

  }

  .home_data {
  margin: auto;
  }
  .more-about {
    margin: 0 15%;

  }

  .button_icon {
    display: flex;
    justify-content: center;
    width: 35%;
    font-size: 1.5rem;
    padding: 0;
    align-items: center;


  }

  :root {
    font-size: 39%;
  }
}

/* CSS for tablet screens */
@media (min-width: 768px) and (max-width: 991px) {

  /* Add your CSS styles for tablet here */
  .color_block {

    display: none;

  }

  .home_img {
    width: 100%;
  }

  .home_data {
    width: 100%;

  }

  .home {
    grid-template-columns: 4.32fr 5.68fr;
    /* align-items: center; */
    /* background-color: var(--first-color); */

  }

  :root {
    font-size: 70%;
  }
}

@media (min-width:992px) and (max-width:1023px) {
  :root {
    font-size: 85%;
  }

}

@media (min-width:1024px) and (max-width:1439px) {
  :root {
    font-size: 85%;
  }

  .color_block {
    display: none;
  }

  .home_description {
    width: 550px;
  }

}

@media (min-width:2560px) {
  :root {
    font-size: 125%;
  }

  .color_block {
    height: 200vh;
    width: 100vw;
    background-color: var(--first-color);
    top: -60vh;
    left: -95vw;
    transform: rotate(-45deg);
  }

  .home {
    grid-template-columns: 5fr 8fr;

  }

  .home_data {
    max-width: 900px;
  }

  .home_img {
    height: 100%;
    width: 90%;
  }

}