.nav_menu{
    position: fixed;
    inset-block: 0;
    left: -100%;
    background-color: var(--container-color);
    width: 100%;
    z-index: 1;
    padding: 60px 30px;
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.show-menu{
    left:0;
    /* background-color: aqua; */
    
}
.nav_link{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    border-bottom: 0.1rem solid var(--border-color);
    padding-block: 0.9rem;
}
.nav_icon,.nav_name{
    color: var(--title-color);
    font-size: 1.5rem;
}
.nav_name{
    font-weight: var(--weight-500);
}
.active-nav .nav_icon, .active-nav .nav_name{
    color: var(--first-color);
}

.nav_toggle{
    position: sticky;
z-index: 100;
margin-left: auto;
    margin-top: 1rem;
    right:3rem;
    width:3rem;
    height: 3rem;
    text-align: center;
   border-radius: 0.5rem;
   /* background-color:aqua;  */
}

.nav_toggle span{
    display: block;
    width: 2.5rem;
    margin: auto auto;
    height: 0.2rem;
    border-radius: 1rem;
    background-color: var(--title-color);
    margin-bottom: 0.4rem;
    
}
.animate-toggle span:first-child{
    transform: rotate(45deg) translate(0.6rem,0.3rem);
}
.animate-toggle span:nth-child(2){
    display: none;
}
.animate-toggle span:last-child{
    transform: rotate(-45deg) translate(0.1rem,0.1rem);
}

@media screen and (min-width:1024px) {
    .nav_menu{
        all:unset;
    }
    .nav_toggle{
        display: none;
    }
    .nav{
        position: fixed;
        inset-block: 0;
        right: 30px;
        display: flex;
        align-items: center;
        /* background-color: var(--first-color); */
    }
    .nav_item{
        margin-block: 20px;
    }
    .nav_link{
        padding: 0;
        border-bottom: none;
        background-color: var(--container-color);
   width: 50px;
   height: 50px;
   border-radius: 50%;
   position: relative;
    }

    .nav_icon{
        font-size: 20px;
        margin-inline: auto;
    }
    .nav_name{
        position: absolute;
        top:0;
        right: 100%;
        background-color: var(--first-color);
        height: 100%;
        line-height: 50px;
        padding-inline:30px 25px;
        border-radius: 30px;
        font-size: var(--small-font-size);
        color: var(--text-white);
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all 0.3s ease;

    }
    .nav_link:hover .nav_name{
        right:27px;
        color: var(--text-white);
        opacity: 1;
        visibility: visible;
        border-radius: 30px 0 0 30px;
    }
    .nav_link:hover, .active-nav{
        background-color: var(--first-color);
    }
    .nav_link:hover .nav_icon, .active-nav .nav_icon{
        color: var(--text-white);
    }
}