.portfolio_container{
    grid-template-columns: repeat(3,1fr);
    column-gap: 5rem;
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes translation{
    0% {
        transform:scale(1)  translateX(-5%); 
      }
      100% {
        transform:scale(1.0)  translateX(0%);
      }
      
}
.portfolio-title{
    animation: translation 0.6s ease;
}
.portfolio_item{
    position: relative;
    border-radius: 1rem;
    border: 0.05rem solid rgb(224, 224, 224);
overflow: hidden;
cursor: pointer;
animation: fade-in 1s ease-in-out;
}
.portfolio_img{
    height: 17rem;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.portfolio_hover{
    background-color: var(--first-color);
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}
.portfolio_item:hover .portfolio_hover{
    opacity: 1;
}
.portfolio_title{
    color: var(--text-white);
    font-size: var(--large-font-size);
    font-weight: var(--weight-500);
    transform: translateY(-0.1rem);
    transition: all 0.5s ease;
}
.portfolio_item:hover .portfolio_title{
    transform: translateY(0);
}

.portfolio_modal{
    position: fixed;
    inset: 0;
    background-color: hsla(0,0%,0%,0.7);
    z-index: 100;
    display: grid;
    place-items: center;
    padding: 1rem;
    animation: fade-in 0.3s ease-out;
    
}
.portfolio_modal-content{
    background-color: var(--container-color);
    max-width: 650px;
    width: 100%;
border-radius: 1rem;
    padding: 2rem;
    position: relative;
}
.modal_close{
    width: 2rem;
    top: 1%;
    right: 3%;
    height: 3rem;
    position: absolute;
    filter: invert(0.4);
}
.modal_img{
    width:100%;
    
        
        height:350px;
  
    object-fit:cover;
    border-radius: 2rem;
    /* background-color: aqua; */

}
.modal_title{
    text-align: center;
    color:var(--first-color);
    font-size: var(--h2--font-size);
    letter-spacing: 0.15rem;
    margin-bottom: 2rem;
}
.modal_list{
    grid-template-columns: repeat(2,1fr);
    row-gap: 1.5rem;
    column-gap: 1rem;
    margin-bottom: 3rem;
}

.modal_item{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    
}
.item_icon{
    display: flex;
}
.item_title, .item_details{
    color: var(--title-color);
    font-size: var(--small-font-size);

}
.item_details{
    font-weight: var(--weight-600);
}

@media (max-width:374px){
    :root{
        font-size: 45%;
    }
    .portfolio_container{
        column-gap: 1rem;
row-gap: 3rem;
        padding:0rem 5rem;
        grid-template-columns: repeat(1,1fr) ;
    }
    .portfolio_img{
        height: 20rem;
    }
    .portfolio_modal-content{
        /* background-color: aqua; */
        width: 200px;
    }
    .modal_img{
        
        height:100px;
    }
}
@media (min-width:375px) and (max-width:767px){
    :root{
        font-size: 60%;
    }
    .portfolio_container{
        column-gap: 2rem;
row-gap: 4rem;
        padding:1rem 3rem;
        grid-template-columns: repeat(2,1fr) ;
    }
    .portfolio_img{
        height: 25rem;
    }
    .portfolio_modal-content{
        /* background-color: aqua; */
        width: 325px;
    }
    .modal_img{
        
        height:170px;
    }
    
   
}

@media (min-width:768px) and (max-width:1024px){
    :root{
        font-size: 80%;
    }
    .portfolio_container{
        column-gap: 2rem;
        padding:1rem 5rem;
        grid-template-columns: repeat(3,1fr) ;
    }
    
}

@media (min-width:1921px) {
    :root{
        font-size: 125%;
    }
    .portfolio_modal-content{
        /* background-color: aqua; */
        max-width: 50vw;
    }
    .modal_img{
        height: 26vw;
    }
}